body {
    font-family: 'Montserrat', sans-serif;
}

header {
}

.clear_left {
    display: inline;
    clear: left;
}

.full_width {
    width: 100%;
    margin: 0;
    padding: 0;
}

nav {
    background-color: brown;
    vertical-align: right;
    text-align: right;
}

li {
    vertical-align: right;
    text-align: right;
    display: inline;
    clear: left;
    text-decoration: none;
    list-style-type: none;
}

a.nav_text {
    margin-left: 4px;
    margin-right: 4px;
    vertical-align: right;
    text-align: right;
    clear: left;
    color: white;
    text-decoration: none;
    list-style-type: none;
}

a {
    color: brown;
    text-decoration: none;
    list-style-type: none;
}

.center {
    text-align: center;
    position: center;
}

.rock_salt {
    font-family: 'Rock Salt', cursive;
}

.top_buff {
    margin-top: 10px;
}

.initiallyHidden { display: none; }