<% if !logged_in? %>
<form class="center top_buff" method="post" action="/users/login">
  <label for="email" class="">Email</label>
  <input id="email" type="email" name="email" value="" tabindex="1">
  <label for="pass" class="">Password</label>
  <input id="pass" type="password" name="password" value="" tabindex="2">
  <input type="submit" value="sign in" tabindex="3">
</form>
<% end %>
