<h3 class="center">CREATE AN ACCOUNT</h3>

<form class="center top_buff" method="post" action="/users">
  <label for="name" class="">Username</label>
  <input id="name" type="text" name="user[username]" value="" tabindex="1">
  <label for="email" class="">Email</label>
  <input id="email" type="email" name="user[email]" value="" tabindex="2">
  <label for="pass" class="">Password</label>
  <input id="pass" type="password" name="user[password]" value="" tabindex="3">
  <input type="submit" value="sign in" tabindex="4">
</form>
