<div class="add_question center">
  <button class="choice" type="button">add choice</button>
  <button class="complete_question" type="button">next question</button>
  <button class="complete_survey" type="button">all done</button>
  <p>
    <label for="question center" class="">Question</label>
    <input id="question center" type="text" name="question" value="">
  </p>
  <p> 
  <label for="choice center" class="">Choice</label>
  <input id="choice center" type="text" name="choice" value="">
</p>
<p> 
  <label for="choice center" class="">Choice</label>
  <input id="choice center" type="text" name="choice" value="">
</p>
</div>