  
    <label for="question center" class="">Question</label>
    <input id="question center" type="text" name="" value="">
      <button class="choice" type="button">add choice</button>
  
      <div class="add_choice center">

      </div>