<div class="add_question center">
  <p>
    <label for="question center" class="">Question</label>
    <input id="question center" type="text" name="question" value="">
  </p>
  <button class="choice" type="button">add choice</button>
  <button class="complete_question" type="button">next question</button>
  <button class="complete_survey" type="button">all done</button>
</div>