<h3 class="center">PICK A SURVEY</h3>
<div class= "surveys-list">
  <% @surveys.each do |survey| %>
    <div class="survey">
      <a href="surveys/<%= survey.id %>/questions/1"> <%= survey.title %> </a>
    </div>
  <% end %>
</div>

<a href="/surveys/new">Make a new survey</a>
